<section class="s2">
                
        <div class="contenedor">
            <div class="divImagenes">
                <div class="texto2">
                    <h2>Tu Licoreria</h2>
                    <h2>Nuestros Productos</h2>
                    <p>Contamos con una amplia variedad de licores como: wisky, ron, cerveza, vino, champagne, entre otros. Tenemos excelentes precios y ofertas</p>
                    <button id="font-2">Más</button>
                </div>
                <div class="producto">
                    <img src="jrojo.jpg" alt="">
                    <h4>{{getProductos licor1}}</h3>
                    <p>{{pre1}}</p>
                </div>
                <div class="producto">
                    <img src="abuelo.jpg" alt="">
                    <h4>{{getProductos licor2}}</h3>
                    <p>{{pre2}}</p>
                </div>
                <div class="producto">
                    <img src="tequila.jpg" alt="">
                    <h4>{{getProductos licor3}}</h3>
                    <p>{{pre3}}</p>
                </div>

            </div>
        </div>
    </section>